#bg {
    background: url(../images/movie-theater-background.jpg);
     background-repeat: no-repeat;
     background-size: 100%;
     background-attachment: fixed;
     background-position: 10%;
}

#startbutton {
    position: fixed;
    top:30%;
    right:40%;
 }

#turtle {
    font-family: 'Courgette', cursive;
    color: silver;
 }

.popcorn {
    width: 5%;
}



#puzzleaster{
margin-top: 20px;    

font-size: 125px;
float: initial;
margin-left: 100%;
margin-right: 100%;
text-align: center;
max-width: 300px;
position: fixed;

}

#puzzle{
font-size: 45px;
letter-spacing: 2px;
margin-right: 100px;
background-color: green;
width: 750px;
height: 300px;
max-width: 725px;
margin-left: 100px;
}

#wronganswers{
margin: 20px;
width: 275px;
color: grey;
font-size: 25px;
position: absolute;
font-weight: bold;
top: 30px;
}

#hints{
    margin: 20px;
    width: 232px;
    color: whitesmoke;
    font-size: 14px;
    position: absolute;
    font-weight: bold;
    margin-bottom: 1px;
    top: 150px;
}

#score{
    margin: 20px;
    position: absolute;
    font-size: 25px;
    left: 85%;
    font-weight: bold;
    /*right: 800px;*/
    /*float: right;*/
    width: 275px;
    color: grey;
    top: 30px; 
       }

#gameOver{
    bottom: 150px;
    display: block;
    width: 700px;
    font-size: 40px;
        }

#picture{
    position: fixed;
    bottom: 0px;
    right: 10px;
}

#temp{
    position: fixed;
    top: 50px;
    right:350px;
}